<div class="container">
	<form class="horizontal-center" [formGroup]="bookForm" (ngSubmit)="formSubmitted=true; " autocomplete="off">
		<div class="mb-1 text-left">
			Title
		</div>
		<div class="mb-3 text-left">
			<mat-form-field>
				<input matInput formControlName="bookTitle" placeholder="Book Name">
			</mat-form-field>
			<mat-error *ngIf="(formSubmitted || bookForm.get('bookTitle').touched) && bookForm.get('bookTitle').invalid">
				Book Name is required
			</mat-error>
		</div>
		<div class="mb-1 text-left">
			Category
		</div>
		<div class="mb-3 text-left">
			<mat-form-field>
				<mat-select formControlName="bookCategory" ngDefaultControl placeholder="Book Category">
					<mat-option *ngFor="let category of categories" [value]="category.label">{{category.label}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-error *ngIf="(formSubmitted || bookForm.get('bookCategory').touched) && bookForm.get('bookCategory').invalid">
				Book Category is required
			</mat-error>
		</div>
		<div class="mb-1 tetx-left">
			Description
		</div>
		<div class="mb-3 text-left">
			<mat-form-field>
				<textarea formControlName="bookDescription" matInput placeholder="Book Description" rows="10" cols="100"></textarea>
			</mat-form-field>
			<mat-error *ngIf="(formSubmitted || bookForm.get('bookDescription').touched) && bookForm.get('bookDescription').invalid">
				Book Description is required
			</mat-error>
		</div>
		<div class="mb-3">
			<button (click)="addBook()">Add</button>
		</div>
	</form>

	<div class="h2-align table-responsive">
		<h2>
			Book List
		</h2>
		<table class="mb-1 mt-10 text-left table" *ngFor="let book of booksList">
			<tr class="mb-3">
				<td>Title : {{book.name}} ({{book.category}})</td>
			</tr>
			
			<tr class="mb-3">
				<td>Description: {{book.description}}</td>
			</tr>
			<hr/>
		</table>
	</div>
</div>